---
layout: 'slide'
title: 'Deckjs easy(er)'
---
li.slide this is a multi file example
li.slide <a href="https://github.com/balupton">balupton</a> thinks this might be easier
li.slide though I don't really know <a href="https://github.com/sstephenson/eco">eco</a> so can't really get it to work
