---
layout: 'slide'
title: 'huh'
---
h2 what?
	li.slide#TheMoreYouKnow its 
		a(href='http://imakewebthings.github.com/deck.js/') deck.js
	li.slide#easy all set for you to deploy somehwere
	li.slide#likeyoursister all you need to do is name your presentation and go 
