---
layout: 'big'
title: 'big'
---
#nav use &harr; to navigate
#big Big
#busy <em>Presentation software</em> for busy busy hackers
#text +text
#can as <em>big</em> as it can be
#no no config
#k <em>1.5k</em>
#img <img src='http://farm3.static.flickr.com/2506/5757000880_509440308e_z.jpg' /> images too
#credit JS+CSS <a href='https://github.com/tmcw/big'>github.com/ tmcw/ big</a>
