---
layout: 'big'
title: 'big'
---
#ids use &harr; to navigate
#dont Big
#do <em>Presentation software</em> for busy busy hackers
#anything +text
#you as <em>big</em> as it can be
#canjust no config
#use <em>1.5k</em>
#a <img src='http://farm3.static.flickr.com/2506/5757000880_509440308e_z.jpg' /> images too
div JS+CSS <a href='https://github.com/tmcw/big'>github.com/ tmcw/ big</a>
