---
layout: 'swiss'
title: 'DeckDown'
---

.slide#title-slide
	h1 DeckDown!
	
	h2 Deckjs easy(er)
	
.slide#huh
	h2 what?
	li.slide#TheMoreYouKnow its 
		a(href='http://imakewebthings.github.com/deck.js/') deck.js
	li.slide#easy all set for you to deploy somehwere
	li.slide#likeyoursister all you need to do is name your presentation and go 

.slide#how
	h2 details
	li.slide#themes there are 4 layouts each is a differnt theme
	li.slide#intro there is a very nice 
		a(href='deck') intro to deck.js
	li.slide#yes that layout is called intro  

.slide#slider
	h2 make a slide
	code \.slide\#witty-title-for-the-browser-bar
	br
	code \h2 slide title
	br
	code \li regular list item
	br
	code \li\.slide\#wittier-title list item that comes in latter
	
.slide#fin
	h2 for the super lazy
	li.slide#big I threw in 
		a(href='big') big
		\ from 
		a(href='https://github.com/tmcw') Tom MacWright
	li.slide#different that one is different, just use a div for each slide ie \#slide not \.slide 
